* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image-card {
    margin: 15px 0px;
    padding: 1rem;
    background-color: rgba(58, 72, 85, 0.377);
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.image-card:hover,
.image-card:focus {
    transform: translateY(-5px);
}

.image-flex {
    width: 100%;
    break-inside: avoid;
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
}

.image-search {
    display: block;
    width: 100%;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.image-card:hover .image-search {
    opacity: 0.65;
}

.image-caption {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    align-items: center;
}
.name {
    font-size: larger;
    font-weight: 900;
}
.username {
    display: block;
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    color: rgba(232, 225, 225, 0.85);
}

.username:hover {
    cursor: pointer;
    color: green;
    font-weight: 855;
}

.image-profile {
    display: block;
    border-radius: 15%;
}

.image-profile-display {
    display: none;
}
.image-profile-wrapper:hover .image-profile-display {
    cursor: pointer;
    display: block;
    position: absolute;
    top: -145px;
    left: -5px;
    background-color: lightgrey;
    border-radius: 5px;
    padding: 5px;
    z-index: 3;
}
