* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-customized-A {
    font-family: freight-big-pro, serif;
    font-style: normal;
    font-weight: 300;
}

.font-customized-B {
    font-family: freight-big-pro, serif;
    font-style: normal;
    font-weight: 300;
}

.search-bar-main {
    border-radius: 15px;
    box-shadow: 3px -3px 15px black;
    background-color: aliceblue;
    padding: 35px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
}

.search-form {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.search-heading {
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}

@media screen and (min-width: 1440px) {
    .search-heading {
        font-size: 3rem;
    }
}
@media screen and (max-width: 515px) {
    .search-heading {
        font-size: x-large;
    }
}

.search-input {
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px;
    font-size: medium;
    text-align: center;
    transition: padding 0.3s ease;
}

.search-button {
    padding: 15px 15px;
    border-radius: 35px;
    border: 1px solid transparent;
    font-size: medium;
    background-color: rgba(155, 155, 155, 0.45);
    transition: background-color 0.3s ease;
}

.search-button:hover {
    cursor: pointer;
    background-color: lightseagreen;
}
