* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-wrapper {
    min-width: 365px;
    width: 100%;
    min-height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 35px;
    transition: display 0.3s ease;
}

.reach-the-top-image {
    position: fixed;
    width: 55px;
    right: 15px;
    bottom: 15px;
    display: block;
    padding: 1px;
    background-color: rgb(96, 94, 94);
    border-radius: 15px;
}
