* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-wrapper {
    min-width: 315px;
    width: 100%;
    min-height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-flow: column nowrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 35px;
    transition: display 0.3s ease;
}

.reach-the-top-image {
    position: fixed;
    width: 55px;
    right: 15px;
    bottom: 15px;
    display: block;
    padding: 1px;
    background-color: rgb(96, 94, 94);
    border-radius: 15px;
}

.reach-the-top-image:hover {
    animation-duration: 355ms;
    animation-iteration-count: infinite;
    animation-name: reach-the-top;
}

.searched {
    background-color: rgb(149, 145, 145);
    min-width: 100%;
    border-radius: 15px;
    font-size: 1.5rem;
    font-style: italic;
    padding: 15px 15px 15px 35px;
    position: sticky;
    top: 5px;
    z-index: 1;
}

.slide-in {
    animation: slidein 355ms ease-out;
}

@keyframes slidein {
    from {
        translate: -15vw 0;
        scale: 50% 1;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
    }
}
@keyframes reach-the-top {
    from {
        translate: 0px 0px;
    }

    to {
        translate: 0 -5px;
    }
}

@media screen and (max-width: 1000px) {
    .searched {
        background-color: rgb(188, 181, 181);
        min-width: 100%;
        opacity: 0.85;
    }
}

@media screen and (max-width: 500px) {
    .searched {
        min-width: 100vw;
        border-radius: 0px;
        padding: 15px 15px 15px 45px;
        top: 0px;
        opacity: 0.95;
    }
}
